<div class="login-view">
    <div class="home-wrapper" ng-controller="homeCtrl">
        <div class="home-first">
            <img class="bg" src="../../mobile/img/home/bg_1.png" />
            <div class="home-p">
                <p class="first-p">半课，让您的学习成本降低50%</p>
                <p class="second-p">选机构难，学费高，没保障，学完找不到工作，半课帮你全搞定。</p>
            </div>
        </div>
        <div class="home-second">
            <img src="../../mobile/img/home/bg_2.png" />
            <div class="second-box-info">
                <span class="box-phone"></span>
                <div class="box-info">
                    <div class="box-info-li">
                        <div class="box-img org"></div>
                        <div>精选机构</div>
                    </div>
                    <div class="box-info-li">
                        <div class="box-img price"></div>
                        <div>学费减半</div>
                    </div>
                    <div class="box-info-li">
                        <div class="box-img service"></div>
                        <div>就业服务</div>
                    </div>
                    <div class="box-info-li">
                        <div class="box-img guarantee"></div>
                        <div>七天担保</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-third">
        <span></span>
    </div>
        <dic class="home-fourth">
            <img src="../../mobile/img/home/bg_4.png" />
            <div class="fourth-box-info">
                <div class="fourth-box">
                    <div class="fourth-title">机构筛选</div>
                    <div class="fourth-info">
                        10几年行业经验、2万家筛选、审核资质、营业执照教学环境等。
                    </div>
                </div>
            </div>
        </dic>

    </div>
</div>
