<div class="login-view">
    <div class="home-wrapper" ng-controller="homeCtrl">
        <div class="home-first">
            <img class="bg" src="http://pic.hisihi.com/2017-03-27/1490606619936915.png" />
            <div class="home-p">
                <p class="first-p">半课，让您的学习成本降低50%</p>
                <p class="second-p">选机构难，学费高，没保障，学完找不到工作，半课帮你全搞定。</p>
            </div>
        </div>
        <div class="home-second">
            <img src="http://pic.hisihi.com/2017-03-27/1490606620200142.png" />
            <div class="second-box-info">
                <span class="box-phone"></span>
                <div class="box-info">
                    <div class="box-info-li">
                        <div class="box-img org"></div>
                        <div>精选机构</div>
                    </div>
                    <div class="box-info-li">
                        <div class="box-img price"></div>
                        <div>学费减半</div>
                    </div>
                    <div class="box-info-li">
                        <div class="box-img service"></div>
                        <div>就业服务</div>
                    </div>
                    <div class="box-info-li">
                        <div class="box-img guarantee"></div>
                        <div>七天担保</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-third">
        <span></span>
    </div>
        <div class="home-fourth">
            <img class="bg" src="http://pic.hisihi.com/2017-03-27/1490606631788263.png" />
            <div class="fourth-box-info">
                <div class="fourth-box">
                    <div class="fourth-title">机构筛选</div>
                    <div class="fourth-info">
                        10几年行业经验、2万家筛选、审核资质、营业执照教学环境等。
                    </div>
                </div>
                <div class="fourth-box">
                    <div class="fourth-title">学费减半</div>
                    <div class="fourth-info">
                        50%学费返还奖励，上课打卡有钱领，半课审核资质、营业执照教学环境等。
                    </div>
                </div>
                <div class="fourth-box">
                <div class="fourth-title">就业服务</div>
                <div class="fourth-info">
                    线上10万+企业无缝对接，线下万人招聘会优先面试。
                </div>
            </div>
                <div class="fourth-box">
                    <div class="fourth-title">七天担保</div>
                    <div class="fourth-info">
                        7天不满意全额退款，半课为你免除后顾之忧。
                    </div>
                </div>
            </div>
        </div>
        <div class="home-fifth">
            <div class="fifth-icon"></div>
            <div class="fifth-img"></div>
            <h2 class="fifth-title"><span>三大奖励</span></h2>
            <div class="fifth-box">
            <div class="fifth-title">注册奖励</div>
            <div class="fifth-info">
                下载半课注册，上传身份证/学生证进行，通过审核后可获得20元现金奖励。
            </div>
        </div>
            <div class="fifth-box">
                <div class="fifth-title">上课奖励</div>
                <div class="fifth-info">
                    报名成功后，每次上课时可在首页打卡奖励，结课时最高获得学费20%奖励。
                </div>
            </div>
            <div class="fifth-box">
                <div class="fifth-title">任务奖励</div>
                <div class="fifth-info">
                    邀请好友注册认证，将获得5元奖励；邀请好友报名成功，最高可获得学费30%奖励。
                </div>
            </div>
        </div>
        <div class="home-sixth">
            <img class="bg" src="http://pic.hisihi.com/2017-03-27/1490606632007314.png" />
            <div class="sixth-box">
                <div class="sixth-box-info">
                    <div class="fourth-tips">
                        <p class="fourth-tips-num">01</p>
                        <div class="fourth-tips-bg">
                            <div class="hexagon">
                                <div class="box1"></div>
                                <div class="box2">下载</div>
                                <div class="box3"></div>
                            </div>
                        </div>
                        <p class="fourth-tips-tip">下载半课app</p>
                    </div>
                    <div class="fourth-tips">
                        <p class="fourth-tips-num">02</p>
                        <div class="fourth-tips-bg">
                            <div class="hexagon">
                                <div class="box1"></div>
                                <div class="box2">注册</div>
                                <div class="box3"></div>
                            </div>
                        </div>
                        <p class="fourth-tips-tip">注册认证，提交身份<br/>证/学生证到平台审核</p>
                    </div>
                </div>
                <div class="sixth-box-info">
                    <div class="fourth-tips">
                        <p class="fourth-tips-num">03</p>
                        <div class="fourth-tips-bg">
                            <div class="hexagon">
                                <div class="box1"></div>
                                <div class="box2">报名</div>
                                <div class="box3"></div>
                            </div>
                        </div>
                        <p  class="fourth-tips-tip">在半课推荐的机构里<br/>选定自己想报的课程</p>
                    </div>
                    <div class="fourth-tips">
                        <p class="fourth-tips-num">04</p>
                        <div class="fourth-tips-bg">
                            <div class="hexagon">
                                <div class="box1"></div>
                                <div class="box2">缴费</div>
                                <div class="box3"></div>
                            </div>
                        </div>
                        <p class="fourth-tips-tip">去往培训机构,<br/>选择平台官方支付宝缴费</p>
                    </div>
                </div>
                <div class="sixth-box-info">
                    <div class="fourth-tips">
                        <p class="fourth-tips-num">05</p>
                        <div class="fourth-tips-bg">
                            <div class="hexagon">
                                <div class="box1"></div>
                                <div class="box2">审核</div>
                                <div class="box3"></div>
                            </div>
                        </div>
                        <p  class="fourth-tips-tip">将app注册姓名及手机号<br/>告知老师，由老师提交<br/>报名信息供半课审核。</p>
                    </div>
                    <div class="fourth-tips">
                        <p class="fourth-tips-num">06</p>
                        <div class="fourth-tips-bg">
                            <div class="hexagon">
                                <div class="box1"></div>
                                <div class="box2">奖励</div>
                                <div class="box3"></div>
                            </div>
                        </div>
                        <p class="fourth-tips-tip">审核成功开启后开始领取<br/>奖励，最高可获得所报课程<br/>学费的50%奖励</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-img-box">
            <img class="home-img bg" src="../../mobile/img/home/bg_6.png" />
        </div>
        <div class="home-img-box">
            <img class="bg" src="../../mobile/img/home/bg_7.png" />
        </div>
    </div>
</div>
