<meta charset="UTF-8">
<meta name="Resource-type" content="Document">
<!--禁止缩放-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!--禁止数字识别为手机号-->
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Cache" content="no-cache">
<link rel="stylesheet" href="mobile/style/index.css" type="text/css">
<link rel="stylesheet" href="style/iconfont/iconfont.css" type="text/css">
<div class="header" ui-view="headerView"></div>
<div class="root-view" ng-class="{bg:isHasBg}">
    <div class="main-view">
        <div ui-view="mainView" autoscroll="true"></div>
    </div>
</div>
<div class="footer" mfooter></div>

