<div class="news-view">
    <!--<div class="home-wrapper" ng-controller="newsCtrl">-->
        <!--<div class="new">-->
            <!--<div class="new-title">知乎使用协议条款</div>-->
            <!--<span class="iconfont icon-contact test-icon"></span>-->
            <!--<div class="new-info">-->
                <!--<span>嘿设汇</span>-->
                <!--<span>02-06&nbsp10:29</span>-->
            <!--</div>-->
            <!--<hr />-->
            <!--<div class="new-detail">-->
                <!--欢迎您来到知乎。-->
            <!--</div>-->
        <!--</div>-->
        news
    <!--</div>-->
</div>