<div class="org-view">
    <div class="home-wrapper" ng-controller="orgDetailCtrl">
        <div class="orgdetail-head">
            <img src="../../img/org/head-test.jpg" />
        </div>
        <div class="org-box">
            <img class="bg" src="img/org/bg_10.png" />
            <div class="org-detail-box">
                    <div class="org-content org-detail">
                        <div class="org-title">机构简介</div>
                        <div class="org-info">
                            2015-2016年，公司进行第一次改革，确定“互联网视觉教育专家”的发展定位，围绕“做最负责任的教育，实现学员价值”的初心。
                            2015-2016年，公司进行第一次改革，确定“互联网视觉教育专家”的发展定位，围绕“做最负责任的教育，实现学员价值”的初心。
                        </div>
                        <div class="org-address">
                            <div class="address">机构地址</div>
                            <div class="address-detail">广西大学火炬路一号创业大厦座418</div>
                        </div>
                    </div>
                    <div class="org-content org-album">
                        <div class="album-li"><img src="img/org/head.jpg" /></div>
                        <div class="album-li"><img src="img/org/head.jpg" /></div>
                        <div class="album-li"><img src="img/org/head.jpg" /></div>
                    </div>
            </div>
        </div>
        <div class="middle-banner">
            <img src="img/org/orgdetail" />
        </div>
        <div class="org-content class-list">
            <div class="class-box">
                <div class="class-img">
                    <img src="img/org/a.jpg" />
                </div>
                <div class="class-detail">
                    <div class="class-price">
                        <div class="class-name"><span class="c-name">游戏原画设计课</span><span class="save"></span><span class="save-num">90%</span></div>
                        <div class="class-deal"><span>参考报价</span><span>￥17,000</span><span class="final-title">最终成交价</span><span class="final-price">￥17,000</span></div>
                    </div>
                    <div class="class-info">武汉莱茵武汉莱茵武汉莱茵武武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵</div>
                </div>
            </div>
            <div class="class-box">
                <div class="class-img">
                    <img src="img/org/a.jpg" />
                </div>
                <div class="class-detail">
                    <div class="class-price">
                        <div class="class-name"><span class="c-name">游戏原画设计课</span><span class="save"></span><span class="save-num">90%</span></div>
                        <div class="class-deal"><span>参考报价</span><span>￥17,000</span><span class="final-title">最终成交价</span><span class="final-price">￥17,000</span></div>
                    </div>
                    <div class="class-info">武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵武汉莱茵</div>
                </div>
            </div>
        </div>
        <div class="org-btn">
            <span>加载更多</span>
        </div>
    </div>
</div>
