<div class="banner-wrapper" ng-controller="header">
	<div class="logo">
		<!--跳转首页-->
		<a ui-sref="mhome" >
			<div class="logo-img"></div>
			<div class="logo-word">
				<div class="slogen">一半学费上好课</div>
			</div>
		</a>
	</div>
	<div class="menu-btn" ng-touchend="controlUlBox()">
		<span></span>
	</div>
	<ul class="banner-items-container"  ng-show="visible">
	<!--<ul class="banner-items-container"  ng-show="visible" ng-touchend="controlUlBox()">-->
			<li ng-repeat="item in menus">
				<a class="section" ui-sref="{{item.url}}" title="{{item.title}}">
					<span>{{item.title}}</span>
				</a>
			</li>
		</ul>
</div>