<div class="banner-wrapper">
	<div class="logo">
		<!--跳转首页-->
		<a ui-sref="home" >
			<div class="logo-img">
			</div>
			<div class="logo-word">
				<div class="slogen">一半学费上好课</div>
			</div>
		</a>
	</div>
	<div class="menu-btn">
		<span></span>
	</div>
	<ul class="banner-items-container" ng-init="menus=[{url:'home',title:'首页'},{url:'org',title:'精选机构'},{url:'join',title:'机构入驻'},{url:'partner',title:'城市合伙人'}]">
			<li ng-repeat="item in menus" ng-class="{selected:headerMenuSelectedIndex==$index}">
				<a ui-sref="{{item.url}}" title="{{item.title}}">
					<span>{{item.title}}</span>
				</a>
			</li>
		</ul>
</div>