@jAddress: url('../../img/join/sprite.png');
.join-head {
  position: relative;
  .join-info {
    position: absolute;
    left: 20%;
    top: 160px;
    .join-one-slogen {
      margin-bottom: 10px;
      letter-spacing: 2px;
      .slogen-img {
        display: inline-block;
        .size(66px,39px);
        background: @jAddress no-repeat;
        background-position: -7px -131px;
      }
      .slogen-txt:before {
        content: "";
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
        background: #363d43;
        border-radius: 8px;
        height: 8px;
        width: 8px;
        vertical-align: 9px;
        display: inline-block;
      }
      .slogen-txt {
        font-size: 36px;
        vertical-align: 7px;
        #app {
          font-size: 41px;
          vertical-align: -1px;
        }
      }
    }
    .join-two-slogen {
      margin-bottom: 30px;
      letter-spacing: 2px;
      font-size: 22px;
      .join-head-slogen-one {
        color: #363d43;
      }
      .join-head-slogen-two {
        color: #ff1c39;
      }
    }
    .join-three-slogen {
      font-size: 14px;
      color: #363d43;
      margin-bottom: 10px;
    }
    .join-head-btn {
      cursor: pointer;
      margin-top: 16px;
      @jh: 45px;
      text-align: center;
      line-height: @jh;
      .size(160px,@jh);
      color: #FFFFFF;
      font-size: 20px;
      background-color: #FFC045;
      border-radius: 30px;
    }

  }
}
.join-content {
  text-align: center;
  .join-content-title {
    margin-top:48px;
    margin-bottom:38px;
    font-size: 18px;
    color: #383d43;
    .title-pic {
      .size(23px,23px);
      display: inline-block;
      background: @jAddress;
    }
    .title-txt {
      margin-left: 8px;
      vertical-align: 5px;
    }
  }
}
.join-second {
  width: 980px;
  margin: 0px auto;
  #second-pic {
    background-position: -233px -147px;
  }
  .join-second-box {
    display: table-cell;
    width: 225px;
    .box-pic {
      display: inline-block;
      background: @jAddress no-repeat;
      &.service {
        .size(60px,63px);
        background-position: -171px -15px;
      }
      &.management {
        .size(65px,65px);
        background-position: -334px -17px;
      }
      &.brand {
        .size(64px,62px);
        background-position: -86px -13px;
      }
      &.spread {
        .size(64px,60px);
        background-position: -254px -21px;
      }
      &.admissions {
        .size(64px,64px);
        background-position: -9px -12px;
      }
    }
    .box-title {
      font-size: 16px;
      color: #383d43;
      margin-bottom: 14px;
    }
    .box-detail {
      font-size: 12px;
      color: #9b9b9b;
    }
  }

}
.join-third {
  margin-top: 48px;
  height: 150px;
  background-color: @mColor;
  text-align: center;
  line-height: 190px;
  .join-third-pic {
    display: inline-block;
    .size(570px,60px);
    background: @jAddress no-repeat;
    background-position: -9px -184px;
  }
}
.join-fourth {
  position: relative;
  #join-fourth-bg {

  }
  .fourth-info {
    position: absolute;
    top: 200px;
    left: 336px;
    right: 336px;
    display: flex;
    .fourth-info-box {
      text-align: center;
      flex: 1;
      .fourth-info-title {
        display: inline-block;
        @sf: 128px;
        line-height: @sf;
        .size(@sf,@sf);
        border-radius: @sf;
        border: 2px solid #ffc451;
        margin-bottom: 34px;
        font-size: 18px;
        color: #383d43;
      }
      .fourth-info-detail {
        letter-spacing: 1px;
        line-height: 22px;
        font-size: 14px;
        color: #383d43;
      }
    }
  }
}
.join-fifth {
  #fifth-pic {
    background-position: -193px -147px;
  }
  .fifth-p {
    text-align: center;
    font-size: 18px;
    color: #a9a9a9;
  }
  .fifth-ul {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    .fifth-li-org {
      width: 230px;
      height: 412px;
      margin-left: 57px;
      margin-top: 55px;
      @lw: 186px;
      max-height: 450px;
      border-radius: 2px;
      border: 1px solid rgba(188,188,188,0.5);
      background-color: @mColor;
      &:nth-of-type(5n){
        margin-left: 0;
      }
      &:first-child{
        margin-left: 0;
      }
      .org-logo {
        text-align: center;
        font-size: 0;
        height: 88px;
        >img {
          height: 88px;
          width: 100%;
          display: inline-block;
        }
      }
      .org-box {
        text-align: left;

        width:@lw;
        padding: 30px 22px 12px 22px;
        color: #383d43;
        .org-name {
          font-size:15px;
          padding-bottom: 12px;
          color: #000;
        }
        .org-info {
          line-height: 22px;
          font-size: 10px;
          margin-bottom: 10px;
          .txt-ellipsis-p(8);
        }

      }
      .org-bottom {
        font-size: 10px;
        padding: 0 22px;
        .org-contactor{
          text-align: left;
        }
        .org-bottom-btn {
          display: flex;
          justify-content: space-between;
          .visit{
            cursor: pointer;
            font-weight: bold;
            color: #383d43;
          }
        }
      }
    }
  }
  .fifth-btn {
    cursor: pointer;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    .size(106px,34px);
    line-height: 34px;
    border-radius: 50px;
    border: 1px solid #a9a9a9;
    text-align: center;
    font-size: 16px;
    color: #a9a9a9;
  }
}
.registered {
  @bRadius: 25px;
  z-index: 10000;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  min-width: 1024px;
  height: 100%;
  background-color: rgba(234,237,236,0.8);
  .registered-box {
    position: absolute;
    @boxw:720px;
    @boxh:620px;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .size(@boxw,@boxh);
    margin-top: -@boxh/2;
    margin-left: -@boxw/2;

    background-color: @mColor;
    border-radius: @bRadius;
    #close {
      cursor: pointer;
      position: absolute;
      top: 0px;
      right: 25px;
      text-align: center;
      .size(26px,35px);
      background-color: @bColor;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      color: @mColor;
      font-size: 16px;
      line-height: 35px;
    }
    .registered-form {
      margin: 56px 70px 10px 70px;
      .registered-head {
        display: inline-block;
        color: @fColor;
        font-size: 14px;
        margin-bottom: 28px;
        .box-slogen {
          display: inline-block;
          .size(77px,40px);
          background: @jAddress;
          background-position: -99px -132px;
        }
        #dot {
          border-radius: 4px;
          height: 4px;
          width: 4px;
          background-color: @fColor;
          margin: 0 8px 0 5px;
          display: inline-block;
          vertical-align: 3px;
        }
        .head-txt {
          display: inline-block;
          vertical-align: 14px;
          letter-spacing: 1px;
        }
      }
      .regbox {
        display: flex;
        margin-bottom: 12px;
      }
      .instruction {
        border-radius: @bRadius;
        box-shadow: 0 0 10px @bColor;
        margin-bottom: 12px;
        width: 580px;
        height: 99px;
        > i {
          display: block;
          position: absolute;
          font-size: 20px;
          color: #969696;
          margin-top: 12px;
          margin-left: 12px;
        }
        > textarea {
          border-radius: @bRadius;
          height: 85px;
          width: 537px;
          font-size: 14px;
          background-color: #FFFFFF;
          border: 1px solid #eee;
          padding-left: 40px;
          padding-top: 10px;
        }

      }
      //输入框统�?样式
      .box {
        margin-right: 36px;
        border-radius: 20px;
        box-shadow: 0 0 10px @bColor;
        margin-bottom: 12px;
        &.box-info {
          width: 270px;
          > input {
            width: 228px;
          }
        }
        > i {
          display: block;
          position: absolute;
          font-size: 20px;
          color: #969696;
          margin-top: 6px;
          margin-left: 12px;
        }
        > input {
          border-radius: @bRadius;
          height: 32px;
          font-size: 14px;
          background-color: #FFFFFF;
          border: 1px solid #eee;
          padding-left: 40px;
          //&.city {
          //  border-top-right-radius: 0px;
          //  border-bottom-right-radius: 0px;
          //  width: 185px;
          //  margin-right:40px;
          //}
        }
      }
    }
    .submit-box {
      text-align: center;
    }
    .registered-btn {
      display: inline-block;
      text-align: center;
      .size(270px,36px);
      color: #FFFFFF;
      font-size: 16px;
      line-height: 36px;
      border-radius: 50px;
      background-color: @bColor;
      //border: 1px solid rgba(238,238,238,0);
    }
    .registered-bottom {
      margin-top: 20px;
      max-width: 720px;
      display: inline-block;
      border-bottom-left-radius: @bRadius;
      border-bottom-right-radius: @bRadius;
    }
  }
}
.city {
   padding-left: 40px;
   outline: none;
   height: 36px;
   width: 268px;
   border-radius: 50px;
   border: rgb(191, 204, 220) 1px solid;
   display: inline-block;
   /*很关键：将默认的select选择框样式清除*/
   appearance:none;
   -moz-appearance:none;
   -webkit-appearance:none;
   padding-right: 36px;
   /*在选择框的最右侧中间显示小箭头图片
   取消center transparent 属性*/
   background: url("http://pic.hisihi.com/2017-03-08/1488941852442104.png") no-repeat scroll right ;
   background-color: #FFFFFF;
 }