@pAddress: url('../../app/img/partner/sprite.png');
.partner-first {
  position: relative;
  .partner-txt {
    position: absolute;
    top: 60%;
    right: 25%;
    color: #383d43;
    text-align: center;
    .first-p {
      font-size: 36px;
      letter-spacing: 1px;
    }
    .first-btn {
      display: inline-block;
      .size(144px,48px);
      font-size: 23px;
      line-height: 48px;
      background-color: @mColor;
      border-radius: 9px;
      border: 2px solid #FBC02D;
      box-shadow: 0px 4px 10px #fbc02d;
    }
  }
}
.partner-second {
  margin-top: 70px;
  margin-bottom: 100px;
  text-align: center;
  color: #383d43;
  #partner-second-pic {
    .size (30px,30px);
    background: @pAddress;
    background-position: -137px -201px;
    display: inline-block;
  }
  #second-p-one {
    font-size: 24px;
    letter-spacing: 1px;
  }
  #second-p-two {
    font-size: 14px;
    letter-spacing: 1px;
  }
}