@pAddress: url('http://pic.hisihi.com/2017-03-27/1490607026321963.png');
.info-box {
  text-align: center;
  color: @fColor;
  letter-spacing: 1px;
  padding: 0 25px;
  .box-img {
    background: @pAddress;
    display: inline-block;
    background-size: 501px*0.5 260px*0.5;
    .size (27px,26px);
  }
  .title {
    padding-top: 15px;
    font-size: 15px;
    color: #000;
  }
  .info {
    line-height: 22px;
    font-size: 12px;
  }
}
.btn {
  text-align: center;
  @bH: 25px;
  cursor: pointer;
  display: inline-block;
  .size(70px,@bH);
  font-size: 14px;
  line-height: @bH;
  border-radius: 50px;
  border: 2px solid #FBC02D;
  box-shadow: 0px 2px 8px #fbc02d;
}
.partner-first {
  position: relative;
  margin-top: 70px;
  #first {
    background-color: @mColor;
    position: absolute;
    right: 20%;
    top: 58%;
  }
}
.partner-second {
  margin-top: 30px;
  margin-bottom: 40px;
  #partner-second-pic {
    background-position: -48px -86px;
  }
}
.partner-third {
  position: relative;
  .third-box {
    @br: 8px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    .third-box-main {
      .third-pk {
        display: block;
        font-weight: bolder;
        font-size: 20px;
        color: #8A8A8B;
        margin-bottom: 20px;
      }
      .third-box-info {
        @bh: 140px;
        display: inline-block;
        .size(@bh, @bh+30px);
        border-radius: @br;
        font-size: 10px;
        color: @fColor;
        background-color: #fff;
        .third-box-title {
          @th: 30px;
          height: @th;
          line-height: @th;
          border-top-left-radius: @br;
          border-top-right-radius: @br;
          background-color: @nColor;
          font-size: 15px;
        }
        .first-p {
          margin-top: 15px;
        }
      }
      #box-one {
        margin-right: 15px;
      }
    }
  }
}
.partner-fourth {
  position: relative;
  margin-top: 30px;
  padding: 0 25px;
  text-align: center;
  .partner-fourth-box {
    color: @fColor;
    text-align: center;
    letter-spacing: 1px;
    #fourth-pic-one {
      background: @pAddress -7px -84px;
      display: inline-block;
      background-size: 501px*0.5 260px*0.5;
      .size (31px,29px);
    }
    #fourth-p-one {
      font-size: 15px;
      color: #000;
    }
    #fourth-p-two {
      font-size: 12px;
      line-height: 22px;
      text-align: left;
    }
  }
  #fourth-pic-two {
    display: inline-block;
    margin-top:25px;
    margin-bottom:25px;
    .size (98px,46px);
    background: @pAddress -155px -86px;
    background-size: 501px*0.5 260px*0.5;
  }
}
.partner-fifth {
  background-color: @nColor;
  .fifth-ul {
    display: flex;
    .fifth-li {
      flex: 1;
      > span {
        display: inline-block;
        .size(135px,165px);
        background: url('http://pic.hisihi.com/2017-03-27/1490607025225596.png');
        background-size: 440px*0.6 560px*0.6;
        &.brand {
          background-position: 0px 0px;
        }
        &.manege {
          background-position: -132px 0px;
        }
        &.system {
          background-position: -129px -167px;
        }
        &.model {
          background-position: 0px -167px;
        }
      }
    }
  }
}
.partner-bottom {
  height: 33px;
  background: url("http://pic.hisihi.com/2017-03-27/1490607024578768.png") @nColor;
  background-size: 750px*0.6 121px*0.6;
}
.partner-sixth {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  #partner-sixth-pic {
    background: @pAddress -120px -88px;
    background-size: 501px*0.5 260px*0.5;
    .size (24px,24px);
    display: inline-block;
  }
  .sixth-ul {
    display: flex;
    margin-top: 15px;
    .sixth-li {
      flex: 1;
      font-size: 14px;
      color: @fColor;
      &:last-child {
        margin-right: 0px;
      }
      .li-img {
        display: inline-block;
        .size(77px,77px);
        background: @pAddress;
        background-size: 501px*0.5 260px*0.5;
        &.design {
          background-position: 0px 0px;
        }
        &.drive {
          background-position: -165px 0px;
        }
        &.IT{
          background-position: -337px 0px;
        }
      }
    }
  }
}
.partner-seventh {
  position: relative;
  text-align: center;
  .seventh-bg {
    margin-top: 350px;
  }
  .seventh-box {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
      .info-title {
        color: #000;
        font-size: 15px;
      }
      #seventh-pic {
        background: @pAddress -105px -103px;
        background-size: 501px*0.6 260px*0.6;
        .size (24px,26px);
        display: inline-block;
      }
      .seventh-ul{
        margin-top: 20px;
        .seventh-li {
          flex:1;
          font-size: 14px;
          color: @fColor;
          text-align: center;
          margin-bottom: 20px;
          .seventh-info-title {
            color: #000;
            display: inline-block;
            @sh: 32px;
            .size(100px,@sh);
            line-height: @sh;
            border-radius: 70px;
            background-color: @nColor;
            margin-bottom: 20px;
            box-shadow: 0px 7px 10px rgba(251,192,45,0.6);
          }
          .seventh-info-txt {
            margin-bottom: 5px;
          }
        }
      }
  }
}
.partner-eighth {
  .eight-tips-box {
    .eight-tips-bg {
      display: table-cell;
      @bh: 55px;
      display: inline-block;
      line-height: @bh - 3px;
      background-color: #FFEB3E;
      .size(@bh,@bh);
      border-radius: @bh;
      text-align: center;
      box-shadow: 0px 4px 10px rgba(251,192,45,0.6);
      margin-left: 11px;
      &:first-child {
        margin-left: 0px;
      }
      .hexagon {
        display: inline-block;
        @hheight: 20px;
        @hao:1.732;
        .box1 {
          width:0;
          border-left: @hheight*@hao/2 solid transparent;
          border-right: @hheight*@hao/2 solid transparent;
          border-bottom: @hheight*0.5 solid #fff;
        }
        .box2 {
          width: @hheight*@hao;
          height: @hheight;
          background-color: #fff;
          line-height: @hheight;
          font-size: @hheight/2;
          color: #000000;
        }
        .box3 {
          width:0;
          border-top:  @hheight*0.5 solid #fff;
          border-left: @hheight*@hao/2 solid transparent;
          border-right: @hheight*@hao/2 solid transparent;
        }
      }
      .more-info {
        text-align: center;
        font-size: 20px;
        color: #FFFFFF;
      }
    }
  }
  .eighth-bottom {
    display: inline-block;
    border-bottom: 1px solid #fff;
    #eight {
      background-color: #FFEB3E;
      margin-top: 45px;
      margin-bottom: 45px;
    }
  }

}