<div class="org-view">
    <div class="home-wrapper" ng-controller="orgCtrl">
        <div class="org-head">
            <img  class="bg" id="org-head-bg" src="../app/img/org/bg_1.png" />
            <div class="org-head-title">
                <span id="title-left">精&nbsp选</span>
                <span id="title-right">机&nbsp构</span>
            </div>
        </div>
        <ul class="org-ul">
            <li class="org-li">
                <a ui-sref="org" title="机构">
                    <div class="org-logo"><img src="../app/img/footer/head.jpg"/></div>
                    <div class="org-name">插画人</div>
                </a>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
