<div class="footer-wrapper">

    <div class="footer">
        <!--about us-->
        <div class="footer-section about">
            <p class="footer-index"><span>关于我们</span></p>
            <div class="footer-about">
                半课是武汉迅牛科技于2017年推出的面向教育全品类的营销平台。
                一方面，半课帮助学员降低培训费用、提升学习品质；另一方面，半课帮助机构提升到店转化率、加强口碑建设。
            </div>
        </div>

        <!--about news-->
        <div class="footer-section news">
            <p class="footer-index"><span>新闻动态</span></p>
            <ul class="footer-navs">
                <li ng-repeat="item in footerNavs">
                    <a ng-if="item.type==0" target="_blank" href="{{item.url}}" title="{{item.title}}">
                        <img  class="news-img" src="{{item.logo_url}}">
                        <span class="news-title">{{item.title}}</span>
                        <span class="news-time">{{item.updated_at | mydate}}</span>
                    </a>
                    <a ng-if="item.type==1" ui-sref="news" title="{{item.title}}">
                        <img  class="news-img" src="{{item.logo_url}}">
                        <span class="news-title">{{item.title}}</span>
                        <span class="news-time">{{item.updated_at | mydate}}</span>
                    </a>
                </li>
            </ul>
        </div>

        <!--about download-->
        <div class="footer-section download">
            <p class="footer-index"><span>下载半课App</span></p>
            <img id="downloadQRcode" src="img/footer/QRcode.png" />
        </div>
    </div>

    <!--about company-->
    <div class="footer-contact">
        <p class="contact">
            <span class="footer-contact-img" id="call-img"></span>
            <span class="call-num">联系电话：400-034-0033</span>
            <span class="footer-contact-img" id="weibo"></span>
            <span class="footer-contact-img" id="wechat"></span>
        </p>

        <p class="address">
            <span>公司地址：&nbsp武汉市&nbsp武昌区&nbsp武珞路456号中建三局写字楼3207室</span>
        </p>
        <p class="license">
            <span>Copyright &copy; 2014-{{year}}</span>
            <span> www.91banke.com All Rights Reserved.</span>
            <span>武汉迅牛科技有限公司</span>
            <span>鄂ICP备15003238号</span>
        </p>
    </div>
</div>