<div class="login-view">
    <div class="home-wrapper" ng-controller="homeCtrl">
        <!--first page-->
        <div class="content top">
            <img class="bg" src="img/home/bg_1.png" />
            <!--<div class="top-slogen">-->
                <!--<p id="slogen-one">半课，让您的学习成本降低50%</p>-->
                <!--<p>选机构难，学费高，没保障，学完找不到工作，半课帮你全搞定。</p>-->
            <!--</div>-->
            <!--<div class="top-icon">-->
                <!--<div class="icon-li">-->
                    <!--<span class="icon-pic choice"></span>-->
                    <!--<p class="icon-tip">精选机构</p>-->
                <!--</div>-->
                <!--<div class="icon-li">-->
                    <!--<span class="icon-pic half"></span>-->
                    <!--<p class="icon-tip">学费减半</p>-->
                <!--</div>-->
                <!--<div class="icon-li">-->
                    <!--<span class="icon-pic employment"></span>-->
                    <!--<p class="icon-tip">就业服务</p>-->
                <!--</div>-->
                <!--<div class="icon-li ">-->
                    <!--<span class="icon-pic guarantee"></span>-->
                    <!--<p class="icon-tip">七天担保</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="top-img"></div>-->
        </div>
        <!--second page-->
        <div class="contact second">
            <img class="bg" src="img/home/bg_2.png" />
        </div>
        <!--third page-->
        <div class="content third">
            <div class="third-left">
                <span class="third-title-img"></span>
                <p>三大奖励</p>
                <img id="pic-pc" src="img/home/pic_pc.png" />
            </div>
            <div class="third-right">
                <ul>
                    <li class="third-li">
                        <p class="third-li-title">注册奖励</p>
                        <p class="third-li-info">
                            下载半课注册，上传身份证/学生证进行认证，通过审核后可获得20元现金奖励。
                        </p>
                    </li>
                    <li class="third-li">
                        <p class="third-li-title">上课奖励</p>
                        <p class="third-li-info">
                            报名成功后，每次上课时可在首页打卡领取奖励，结课时最高获得学费20%奖励。
                        </p>
                    </li>
                    <li class="third-li">
                        <p class="third-li-title">任务奖励</p>
                        <p class="third-li-info">
                            邀请好友注册认证，将获得5元奖励；邀请好友报名成功，最高可获得学费30%奖励。
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <!--fourth page-->
        <div class="content fourth">
            <img class="bg" src="img/home/bg_3.png" />
            <div class="fourth-tips-box" id="fourth-tips-box-one">
                <div class="fourth-tips">
                <p class="fourth-tips-num">01</p>
                <div class="fourth-tips-bg">
                    <div class="hexagon">
                        <div class="box1"></div>
                        <div class="box2">下载</div>
                        <div class="box3"></div>
                    </div>
                </div>
                <p class="fourth-tips-tip">下载半课app</p>
            </div>
                <div class="fourth-tips">
                    <p class="fourth-tips-num">02</p>
                    <div class="fourth-tips-bg">
                        <div class="hexagon">
                            <div class="box1"></div>
                            <div class="box2">注册</div>
                            <div class="box3"></div>
                        </div>
                    </div>
                    <p class="fourth-tips-tip">注册认证，提交身份<br/><br/>证/学生证到平台审核</p>
                </div>
                <div class="fourth-tips">
                    <p class="fourth-tips-num">03</p>
                    <div class="fourth-tips-bg">
                        <div class="hexagon">
                            <div class="box1"></div>
                            <div class="box2">报名</div>
                            <div class="box3"></div>
                        </div>
                    </div>
                    <p  class="fourth-tips-tip">在半课推荐的机构里<br/><br/>选定自己想报的课程</p>
                </div>
            </div>
            <div class="fourth-tips-box" id="fourth-tips-box-two">
                <div class="fourth-tips">
                    <p class="fourth-tips-num">04</p>
                    <div class="fourth-tips-bg">
                        <div class="hexagon">
                            <div class="box1"></div>
                            <div class="box2">缴费</div>
                            <div class="box3"></div>
                        </div>
                    </div>
                    <p class="fourth-tips-tip">去往培训机构，<br/><br />选择平台官方支付宝缴费</p>
                </div>
                <div class="fourth-tips">
                    <p class="fourth-tips-num">05</p>
                    <div class="fourth-tips-bg">
                        <div class="hexagon">
                            <div class="box1"></div>
                            <div class="box2">审核</div>
                            <div class="box3"></div>
                        </div>
                    </div>
                    <p  class="fourth-tips-tip">将app注册姓名及手机号告知老师，<br /><br/>由老师提交报名信息供半课审核。</p>
                </div>
                <div class="fourth-tips">
                    <p class="fourth-tips-num">06</p>
                    <div class="fourth-tips-bg">
                        <div class="hexagon">
                            <div class="box1"></div>
                            <div class="box2">奖励</div>
                            <div class="box3"></div>
                        </div>
                    </div>
                    <p class="fourth-tips-tip">审核成功开启后开始领取奖励，<br/><br/>最高可获得所报课程学费的50%奖励</p>
                </div>
            </div>
        </div>
        <!--fifth page-->
        <div class="content fifth">
            <img class="fifth-pic" src="img/home/bg_4.png" />
            <img class="bg" id='fifth-pic-bottom' src="img/home/bg_5.png" />
    </div>
    </div>
</div>
