<div class="login-view">
    <div class="home-wrapper" ng-controller="homeCtrl">
        <div class="content top">
            <img class="bg" src="../app/img/home/bg_1.png" />
            <div class="top-slogen">
                <span>半课，让您的学习成本降低50%</span>
                <span>选机构难，学费高，没保障，学完找不到工作，半课帮你全搞定。</span>
            </div>
            <ul class="top-icon">
                <li class="icon-li">
                    <span class="icon-img choice"></span>
                    <span>精选机构</span>
                </li>
            </ul>
            <div class="top-img"></div>
        </div>
    </div>
</div>
