<div class="login-view">
    <div class="home-wrapper" ng-controller="homeCtrl">
        <div class="content top">
            <img class="bg" src="../app/img/home/bg_1.png" />
            <div class="top-slogen">
                <p id="slogen-one">半课，让您的学习成本降低50%</p>
                <p id="slogen-two">选机构难，学费高，没保障，学完找不到工作，半课帮你全搞定。</p>
            </div>
            <div class="top-icon">
                <div class="icon-li">
                    <span class="icon-img choice"></span>
                    <span>精选机构</span>
                </div>
            </div>
            <div class="top-img"></div>
        </div>
    </div>
</div>
