<div class="join-view">
    <div class="home-wrapper" ng-controller="joinCtrl">
        <div class="join-head">
            <img class="bg" src="../app/img/join/bg_1.png" />
            <div class="join-info">
                <div class="join-one-slogen">
                    <span class="slogen-img"></span>
                    <span class="slogen-txt">机构招生<span id="app">APP</span></span>
                </div>
                <div class="join-two-slogen">
                    <span class="join-head-slogen-one">最有效的</span>
                    <span class="join-head-slogen-two">移动招生服务平台</span>
                </div>
                <p class="join-three-slogen">只服务优质机构的招生平台</p>
                <p class="join-three-slogen">帮助机构扩大招生</p>
                <p class="join-three-slogen">帮助机构学员找到好工作</p>
                <p class="join-three-slogen">助力机构提高学员学习质量</p>
                <div class="join-head-btn"><span>立即申请</span></div>
            </div>
        </div>
        <div class="join-content join-second">
            <div class="join-content-title">
                <span class="title-pic" id="second-pic"></span>
                <span class="title-txt" id="second-txt">五大服务</span>
            </div>
            <div class="join-second-box">
                <div class="box-pic service"></div>
                <p class="box-title">招生服务</p>
                <div class="box-detail">半课模式帮助机构提<br />高转化率和知名度</div>
            </div>
            <div class="join-second-box">
                <div class="box-pic management"></div>
                <p class="box-title">教学管理</p>
                <div class="box-detail">上课点名打卡奖励<br />督促学员认真学习</div>
            </div>
            <div class="join-second-box">
                <div class="box-pic brand"></div>
                <p class="box-title">品牌宣传</p>
                <div class="box-detail">配合机构线下品牌宣传<br />校园、电梯广告投放</div>
            </div>
            <div class="join-second-box">
                <div class="box-pic spread"></div>
                <p class="box-title">口碑传播</p>
                <div class="box-detail">学员完成赏金任务帮助机<br />构推广提升品牌形象能力</div>
            </div>
            <div class="join-second-box">
                <div class="box-pic admissions"></div>
                <p class="box-title">招生服务</p>
                <div class="box-detail">半课模式帮助机构提<br />高转化率和知名度</div>
            </div>
        </div>
        <div class="join-third" >
            <span class="join-third-pic"></span>
        </div>
        <div class="join-fourth">
            <img class="bg" id="join-fourth-bg" src="../app/img/join/bg_2.png" />
            <div class="fourth-info">
                <div class="fourth-info-box">
                    <div class="fourth-info-title">100万+用户</div>
                    <div class="fourth-info-detail">嘿设汇100万大学生用<br />户正在平台上寻找优质<br />机构</div>
                </div>
                <div class="fourth-info-box">
                    <div class="fourth-info-title">可信赖品牌</div>
                    <div class="fourth-info-detail">上市央企投资企业，实力<br />雄厚，曾获互联网+创业<br />大赛全国金奖、中美创业<br />大赛冠军等众多荣誉</div>
                </div>
                <div class="fourth-info-box">
                    <div class="fourth-info-title">模式创新</div>
                    <div class="fourth-info-detail">最高50%学费奖励模式<br />让你的学员全部成为你<br />的代言人和分销商</div>
                </div>
            </div>
        </div>
        <div class="join-content join-fifth" >
            <div class="join-content-title">
                <span class="title-pic" id="fifth-pic"></span>
                <span class="title-txt">客户案例</span>
            </div>
            <p class="fifth-p">深耕教育行业，超过10年互联网+设计教育行业经验</p>
            <p class="fifth-p">为各类教育机构提供全套O2O解决方案</p>
            <ul class="fifth-ul">
                <li class="fifth-li-org">
                    <div class="org-logo">
                        <img src="../app/img/join/orgHead.jpg"/>
                    </div>
                    <div class="org-box">
                        <div class="org-name">3A软件教育</div>
                        <div class="org-info">
                            拥抱半课程&nbsp拥抱互联网<br />
                            公司于2017年3月16日和半课牵手，从使用半课程第一天起我们就发现这是全国最好的C2C在线教育平台，没有之一。从硬件保障到软件
                            服务都属一流。通过半课，公司得到了上万人的关注的同时，也得到了客观的收入。感恩跟谁学，感恩半课的小伙伴，这个世界因你们而美好！
                        </div>
                        <div class="org-bottom">
                            <span>郑健</span>
                            <br />
                            <span>CEO</span>
                            <span class="visit">参观机构</span>
                        </div>
                    </div>
                </li>
                <li class="fifth-li-org">
                    <div class="org-logo">
                        <img src="../app/img/org/a.jpg"/>
                    </div>
                    <div class="org-box">
                        <div class="org-name">3A软件教育</div>
                        <div class="org-info">
                            拥抱半课程&nbsp拥抱互联网<br />
                            公司于2017年3月16日和半课牵手，从使用半课程第一天起我们就发现这是全国最好的C2C在线教育平台，没有之一。从硬件保障到软件
                            服务都属一流。通过半课，公司得到了上万人的关注的同时，也得到了客观的收入。感恩跟谁学，感恩半课的小伙伴，这个世界因你们而美好！
                        </div>
                        <div class="org-bottom">
                            <span>郑健</span>
                            <br />
                            <span>CEO</span>
                            <span class="visit">参观机构</span>
                        </div>
                    </div>
                </li>
                <div class="clear"></div>
            </ul>
            <div class="fifth-btn">
                <span>加载更多</span>
            </div>
        </div>
        <!--登陆-->
        <div class="registered">
            <div class="registered-box">
                <div id="close"><span>X</span></div>
                <div class="registered-form">
                    <div class="box-slogen"></div>
                    <div class="box city">
                        <span class="iconfont icon-contact test-icon"></span>
                        <input type="text" placeholder="选择城市" />
                        <span class="down-section"></span>
                    </div>
                    <div class="box org">
                        <span class="iconfont icon-contact test-icon"></span>
                        <input type="text" placeholder="机构名称" />
                    </div>
                    <div class="box contact">
                        <span class="iconfont icon-contact test-icon"></span>
                        <input type="text" placeholder="联系人" />
                    </div>
                    <div class="box telephone">
                        <span class="iconfont icon-contact test-icon"></span>
                        <input type="text" placeholder="联系电话" />
                    </div>
                    <div class="instruction">
                        <span class="iconfont icon-contact test-icon"></span>
                        <input type="text" placeholder="联系电话" />
                    </div>
                </div>
                <div class="registered-btn">提交</div>
                <div class="registered-bottom"></div>
            </div>
        </div>
    </div>
</div>
