<div class="partner-view">
    <div class="home-wrapper" ng-controller="partnerCtrl">
        <div class="partner-first">
            <img class="bg" src="../app/img/partner/bg_1.png" />
            <div class="partner-txt">
                <p class="first-p">成为城市合伙人</p>
                <div class="btn" id="first">
                    <span>立即申请</span>
                </div>
            </div>

        </div>
        <div class="partner-second info-box">
            <span class="box-img" id="partner-second-pic"></span>
            <p class="title">培训行业市场巨大，增长潜力强</p>
            <p class="info">培训教育行业市场巨大，营业额逐年递增。行业乱象频生，半课可以具有强大的用户群体和资源可以改变行业乱象</p>
        </div>
        <div class="partner-third">
            <img class="bg" src="../app/img/partner/bg_2.png" />
            <div class="third-box">
                <div class="third-box-main">
                    <div class="third-box-info" id="box-one">
                        <div class="third-box-title">半课模式</div>
                        <p class="first-p">利润空间大，资金投入小</p>
                        <p>模式创招生无忧</p>
                        <p>强大品牌依托</p>
                        <p>完善的服务体系</p>
                        <p>平台支撑强大后盾</p>
                    </div>
                    <i class="third-pk">PK</i>
                    <div class="third-box-info" id="box-two">
                    <div class="third-box-title">传统培训机构</div>
                    <p class="first-p">资金投入大，开支大利润低</p>
                    <p>老师难找，招生困难</p>
                    <p>没有品牌和口碑</p>
                    <p>服务标准难建立</p>
                    <p>扩展品类难</p>
                </div>
                </div>
            </div>
        </div>
        <div class="partner-fourth">
            <div class="partner-fourth-box">
                <span class="box-img" id="fourth-pic-one"></span>
                <p id="fourth-p-one">半课-城市合伙人计划</p>
                <div id="fourth-p-two">
                    迅牛科技获得上市企业光谷联合等数千万的投资，
                    目前已是移动互联网O2O领域明星标杆企业，具备规模化城市拓展的能力，
                    迅牛科技坚持平台开发，合作共赢模式，将城市合伙人作为公司的长期发展战略。
                    互联网平台与本地资源深度合作，线上线下联合推动培训市场的快速整合。
                </div>
            </div>
            <div id="fourth-pic-two"></div>
            <div class="clear"></div>
        </div>
        <div class="partner-fifth info-box">
            <p class="title">城市合作形式</p>
            <p class="info">迅牛科技提供上市企业光谷联合等投资的数千万资金做品牌支撑，运营管理，IT系统；合作伙伴提供资源和少量创业基金的方式。</p>
            <p class="info">平台和本地相结合，利用半课先进的经营模式，快速颠覆当地培训市场，占据百万学员培训入口。</p>
            <ul class="fifth-ul">
                <li class="fifth-li brand"></li>
                <li class="fifth-li manege"></li>
                <li class="fifth-li system"></li>
                <li class="fifth-li model"></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="partner-bottom"></div>
        <div class="partner-sixth info-box">
            <span id="partner-fifth-pic"></span>
            <p class="title">城市合伙人条件</p>
            <div class="info">你要拥有一定的当地行业资源，看重长期回报。</div>
            <br />
            <div class="info">具备以下三种条件优先</div>
            <ul class="sixth-ul">
                <li class="sixth-li">
                    <div class="li-img design"></div>
                    <div class="li-txt">设计行业资源</div>
                </li>
                <li class="sixth-li">
                    <div class="li-img drive"></div>
                    <div class="li-txt">驾考资源</div>
                </li>
                <li class="sixth-li">
                    <div class="li-img IT"></div>
                    <div class="li-txt">IT行业资源</div>
                </li>
            </ul>
        </div>
        <div class="partner-seventh info-box">
            <img class="bg" src="../app/img/partner/bg_4.png" />
            <div class="seventh-box">
                <div>
                    <div class="seventh-box-main">
                        <span class="box-img" id="seventh-pic"></span>
                        <p class="info-title">半课给予合作伙伴支持</p>

                            <ul class="seventh-ul">
                                <li class="seventh-li">
                                    <div class="seventh-info-title">管理运营支持</div>
                                    <div class="seventh-info-txt">上线前城市运营规划</div>
                                    <div class="seventh-info-txt">团队培训</div>
                                    <div class="seventh-info-txt">上线后驻地支持</div>
                                    <div class="seventh-info-txt">后期运营支持</div>
                                </li>
                                <li class="seventh-li">
                                    <div class="seventh-info-title">管理运营支持</div>
                                    <div class="seventh-info-txt">上线前城市运营规划</div>
                                    <div class="seventh-info-txt">团队培训</div>
                                    <div class="seventh-info-txt">上线后驻地支持</div>
                                    <div class="seventh-info-txt">后期运营支持</div>
                                </li>
                                <li class="seventh-li">
                                    <div class="seventh-info-title">管理运营支持</div>
                                    <div class="seventh-info-txt">上线前城市运营规划</div>
                                    <div class="seventh-info-txt">团队培训</div>
                                    <div class="seventh-info-txt">上线后驻地支持</div>
                                    <div class="seventh-info-txt">后期运营支持</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="partner-eighth info-box">
            <p class="title">展望未来</p>
            <p class="info">未来，你将成为最优秀的培训平台</p>
            <div class="eight-tips-box">
                <div class="eight-tips-bg">
                    <div class="hexagon">
                        <div class="box1"></div>
                        <div class="box2">设计</div>
                        <div class="box3"></div>
                    </div>
                </div>
                <div class="eight-tips-bg">
                    <div class="hexagon">
                        <div class="box1"></div>
                        <div class="box2">IT</div>
                        <div class="box3"></div>
                    </div>
                </div>
                <div class="eight-tips-bg">
                    <div class="hexagon">
                        <div class="box1"></div>
                        <div class="box2">驾考</div>
                        <div class="box3"></div>
                    </div>
                </div>
                <div class="eight-tips-bg">
                    <div class="hexagon">
                        <div class="box1"></div>
                        <div class="box2">···</div>
                        <div class="box3"></div>
                    </div>
                </div>
            </div>
            <div class="eighth-bottom">
                <div class="btn" id="eight">
                    <span>立即申请</span>
                </div>
            </div>
        </div>
    </div>
</div>
