<div class="partner-view">
    <div class="home-wrapper" ng-controller="partnerCtrl">
        <div class="partner-first">
            <img class="bg" src="../app/img/partner/bg_1.png" />
            <div class="partner-txt">
                <p class="first-p">成为城市合伙人</p>
                <div class="first-btn">
                    <span>立即申请</span>
                </div>
            </div>

        </div>
        <div class="partner-second">
            <span id="partner-second-pic"></span>
            <p id="second-p-one">培训行业市场巨大，增长潜力强</p>
            <p id="second-p-two">培训教育行业市场巨大，营业额逐年递增。行业乱象频生，半课可以具有强大的用户群体和资源可以改变行业乱象</p>
        </div>
    </div>
</div>
